@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,400;1,700;1,900&family=Lobster&display=swap');

@import url("componentes/banner.css");
@import url("componentes/button.css");
@import url("componentes/card.css");
@import url("componentes/container.css");
@import url("componentes/avatar.css");

body{
	font-family: Lato;
	font-size: 24px;	
	margin: 0;
	background-color: rgb(200,200,200);
}

h1,h2,h3{
	font-family: Lobster;
	font-weight: bold;
}

a{
	text-decoration: none;
}

.subtitle h2{
	text-align: center;
	text-shadow: 0px 2px 2px rgb(200,200,200);
	margin: 10px;
	text-decoration: underline;
}



























